In [1]:
pwd

'C:\\Users\\Krop\\Documents\\Ironhack\\IronPau\\week1\\Labs\\lab-customer-analysis-round-2'

In [2]:
import pandas as pd
df1 = pd.read_csv('marketing_customer_analysis.csv')
df1

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     10910 non-null  int64
 1   Customer                       10910 non-null  object
 2   State                          10279 non-null  object
 3   Customer Lifetime Value        10910 non-null  float64
 4   Response                       10279 non-null  object
 5   Coverage                       10910 non-null  object
 6   Education                      10910 non-null  object
 7   Effective To Date              10910 non-null  object
 8   EmploymentStatus               10910 non-null  object
 9   Gender                         10910 non-null  object
 10  Income                         10910 non-null  int64
 11  Location Code                  10910 non-null  object
 12  Marital Status                 10910 non-null  object
 13  Monthly Premium Auto           10910 non-null  int64
 14  Months Since Last Claim        10277 non-null  float64
 15  Months Since Policy Inception  10910 non-null  int64
 16  Number of Open Complaints      10277 non-null  float64
 17  Number of Policies             10910 non-null  int64
 18  Policy Type                    10910 non-null  object
 19  Policy                         10910 non-null  object
 20  Renew Offer Type               10910 non-null  object
 21  Sales Channel                  10910 non-null  object
 22  Total Claim Amount             10910 non-null  float64
 23  Vehicle Class                  10288 non-null  object
 24  Vehicle Size                   10288 non-null  object
 25  Vehicle Type                   5428 non-null   object
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB

In [4]:
df1.shape

(10910, 26)

In [5]:
col1 = []

for i in range(len(df1.columns)):
    col1.append(df1.columns[i].lower())
    
print(col1)

['unnamed: 0', 'customer', 'state', 'customer lifetime value', 'response', 'coverage', 'education', 'effective to date', 'employmentstatus', 'gender', 'income', 'location code', 'marital status', 'monthly premium auto', 'months since last claim', 'months since policy inception', 'number of open complaints', 'number of policies', 'policy type', 'policy', 'renew offer type', 'sales channel', 'total claim amount', 'vehicle class', 'vehicle size', 'vehicle type']

In [6]:
df1.columns = col1
df1.columns

Index(['unnamed: 0', 'customer', 'state', 'customer lifetime value',
       'response', 'coverage', 'education', 'effective to date',
       'employmentstatus', 'gender', 'income', 'location code',
       'marital status', 'monthly premium auto', 'months since last claim',
       'months since policy inception', 'number of open complaints',
       'number of policies', 'policy type', 'policy', 'renew offer type',
       'sales channel', 'total claim amount', 'vehicle class', 'vehicle size',
       'vehicle type'],
      dtype='object')


These column are (or should be) numerical:

 0   Unnamed: 0                     10910 non-null  int64
 3   Customer Lifetime Value        10910 non-null  float64
 7   Effective To Date              10910 non-null  object 
 10  Income                         10910 non-null  int64  
 13  Monthly Premium Auto           10910 non-null  int64  
 14  Months Since Last Claim        10277 non-null  float64
 15  Months Since Policy Inception  10910 non-null  int64  
 16  Number of Open Complaints      10277 non-null  float64
 17  Number of Policies             10910 non-null  int64  
 22  Total Claim Amount             10910 non-null  float64

These columns are categorical:

 
 1   Customer                       10910 non-null  object 
 2   State                          10279 non-null  object 
 4   Response                       10279 non-null  object 
 5   Coverage                       10910 non-null  object 
 6   Education                      10910 non-null  object 
 8   EmploymentStatus               10910 non-null  object 
 9   Gender                         10910 non-null  object 
 11  Location Code                  10910 non-null  object 
 12  Marital Status                 10910 non-null  object 
 18  Policy Type                    10910 non-null  object 
 19  Policy                         10910 non-null  object 
 20  Renew Offer Type               10910 non-null  object 
 21  Sales Channel                  10910 non-null  object 
 23  Vehicle Class                  10288 non-null  object 
 24  Vehicle Size                   10288 non-null  object 
 25  Vehicle Type                   5428 non-null   object

In [7]:
#lets try to check for nans (but with this method we only obtain a bool value)
#df1.isnull().values.any()
#so lets count nans on the columns
df1.isnull().sum()
#we see that we have no NaN on customers so we dont need to drop anything
#df1= df1.dropna(subset="customer")

unnamed: 0                          0
customer                            0
state                             631
customer lifetime value             0
response                          631
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           633
months since policy inception       0
number of open complaints         633
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     622
vehicle size                      622
vehicle type                     5482
dtype: int64

In [8]:
#now lets transform that column in to date
df1['effective to date'] = pd.to_datetime(df1['effective to date'], errors='coerce')

In [9]:
#now lets make a new column 
df1['months']=pd.DatetimeIndex(df1['effective to date']).month
df1

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type,months
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,2011-01-08,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN,1

In [10]:
#now lets do a query to just get the entries that are on the first 3 months
#ill even gona save it as another df
dfq1=df1.query('months<=3')
dfq1

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type,months
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,2011-01-08,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN,1

In [11]:
#lets check if we filtered correctly
print(df1['months'].unique())
print(dfq1['months'].unique())
#so we see that we only have the first 2 months on this csv

[2 1]
[2 1]

In [12]:
import pandas as pd
#now lets try to build a function that does all of that

def data_deal(file, date_col):
    #we get the file
    df1 = pd.read_csv(file)
    
    #lowercase the columns
    col1 = []

    for i in range(len(df1.columns)):
        col1.append(df1.columns[i].lower())
    
    df1.columns = col1
    
    #we check the info to know which col are numerical and which are categorical
    print("\nInfo of df1\n")
    print(df1.info())
    
    #deal with nan values
    print("\nNulls on col\n")
    print(df1.isnull().sum())
    df1= df1.dropna(subset="customer")
    
    #now lets deal with data columns
    #i was gona do an if to check if date_col is filled but i wont

    df1[date_col] = pd.to_datetime(df1[date_col], errors='coerce')
    
    #make the months col
    #i was also goin to do a new arg to the function to name the new column but i wont as we would have problems with the query
    df1['months']=pd.DatetimeIndex(df1[date_col]).month
    
    #and lets do the motnh query
    dfq1=df1.query('months<=3')
    print("\nData frame after query\n")
    print(dfq1)

#we start the function arg1-str-name of file arg2-str-name of date column
data_deal('marketing_customer_analysis.csv', 'effective to date')

Info of df1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed: 0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10279 non-null  object
 3   customer lifetime value        10910 non-null  float64
 4   response                       10279 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective to date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location code                  10910 non-null  object
 12  marital status                 10910 non-null  object
 13  monthly premium auto           10910 non-null  int64
 14  months since last claim        10277 non-null  float64
 15  months since policy inception  10910 non-null  int64
 16  number of open complaints      10277 non-null  float64
 17  number of policies             10910 non-null  int64
 18  policy type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew offer type               10910 non-null  object
 21  sales channel                  10910 non-null  object
 22  total claim amount             10910 non-null  float64
 23  vehicle class                  10288 non-null  object
 24  vehicle size                   10288 non-null  object
 25  vehicle type                   5428 non-null   object
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB
None

Nulls on col

unnamed: 0                          0
customer                            0
state                             631
customer lifetime value             0
response                          631
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           633
months since policy inception       0
number of open complaints         633
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     622
vehicle size                      622
vehicle type                     5482
dtype: int64

Data frame after query

       unnamed: 0 customer       state  customer lifetime value response  \
0               0  DK49336     Arizona              4809.216960       No
1               1  KX64629  California              2228.525238       No
2               2  LZ68649  Washington             14947.917300       No
3               3  XL78013      Oregon             22332.439460      Yes
4               4  QA50777      Oregon              9025.067525       No
...           ...      ...         ...                      ...      ...
10905       10905  FE99816      Nevada             15563.369440       No
10906       10906  KX53892      Oregon              5259.444853       No
10907       10907  TL39050     Arizona             23893.304100       No
10908       10908  WA60547  California             11971.977650       No
10909       10909  IV32877         NaN              6857.519928      NaN

       coverage education effective to date employmentstatus gender  ...  \
0         Basic   College        2011-02-18         Employed      M  ...
1         Basic   College        2011-01-18       Unemployed      F  ...
2         Basic  Bachelor        2011-02-10         Employed      M  ...
3      Extended   College        2011-01-11         Employed      M  ...
4       Premium  Bachelor        2011-01-17    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
10905   Premium  Bachelor        2011-01-19       Unemployed      F  ...
10906     Basic   College        2011-01-06         Employed      F  ...
10907  Extended  Bachelor        2011-02-06         Employed      F  ...
10908   Premium   College        2011-02-13         Employed      F  ...
10909     Basic  Bachelor        2011-01-08       Unemployed      M  ...

       number of policies     policy type        policy  renew offer type  \
0                       9  Corporate Auto  Corporate L3            Offer3
1                       1   Personal Auto   Personal L3            Offer4
2                       2   Personal Auto   Personal L3            Offer3
3                       2  Corporate Auto  Corporate L3            Offer2
4                       7   Personal Auto   Personal L2            Offer1
...                   ...             ...           ...               ...
10905                   7   Personal Auto   Personal L1            Offer3
10906                   6   Personal Auto   Personal L3            Offer2
10907                   2  Corporate Auto  Corporate L3            Offer1
10908                   6   Personal Auto   Personal L1            Offer1
10909                   3   Personal Auto   Personal L1            Offer4

       sales channel  total claim amount  vehicle class  vehicle size  \
0              Agent          292.800000  Four-Door Car       Medsize
1        Call Center          744.924331  Four-Door Car       Medsize
2        Call Center          480.000000            SUV       Medsize
3             Branch          484.013411  Four-Door Car       Medsize
4             Branch          707.925645  Four-Door Car       Medsize
...              ...                 ...            ...           ...
10905            Web         1214.400000     Luxury Car       Medsize
10906         Branch          273.018929  Four-Door Car       Medsize
10907            Web          381.306996     Luxury SUV       Medsize
10908         Branch          618.288849            SUV       Medsize
10909            Web         1021.719397            SUV       Medsize

      vehicle type months
0              NaN      2
1              NaN      1
2                A      2
3                A      1
4              NaN      1
...            ...    ...
10905            A      1
10906            A      1
10907          NaN      2
10908            A      2
10909          NaN      1

[10910 rows x 27 columns]