Case study help. First time working on data.

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
health1 = pd.read_csv('file1.csv')

In [4]:
health1

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,114721,OK,NaN,1040,472,656.0,0,26962,2,56,609.0,579,11.666667,0,0,C2,15.0
1003,149152,CA,M,4507,842,962.0,95,54642,17,50,1004.0,893,20.000000,1,4401,S1,20.0
1004,959,IA,F,586,349,465.0,1,15304,1,77,413.0,404,7.300000,0,4404,C2,10.0
1005,179563,WA,male,842,420,494.0,2,12894,41,24,419.0,476,16.400000,1,5001,S2,23.0
1006,41243,FL,F,556,246,330.0,0,10272,2,56,277.0,292,9.818182,2,2201,S2,12.0

In [5]:
health1.describe()

,CONTROLN,IC1,IC4,HVP1,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,TARGET_D
count,1007.000000,1007.000000,1006.000000,1007.000000,1007.000000,1007.000000,1006.000000,1007.000000,1007.000000,1007.000000,1007.000000,1007.000000
mean,98913.029791,352.015889,445.059642,16.261172,6.847071,55.630586,401.658052,400.022840,11.863404,37.747766,2555.362463,16.026604
std,58306.879885,173.937638,178.115476,29.464477,9.333689,21.593999,182.024618,168.901139,7.829965,213.010617,2069.953954,14.586646
min,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.361111,0.000000,0.000000,1.000000
25%,44930.500000,238.500000,325.000000,0.000000,1.000000,41.000000,283.000000,286.000000,7.285714,0.000000,0.000000,10.000000
50%,101113.000000,319.000000,406.000000,1.000000,4.000000,57.000000,364.500000,361.000000,10.000000,1.000000,2501.000000,13.920000
75%,151559.000000,421.500000,527.000000,14.000000,9.000000,74.000000,474.750000,478.000000,14.500000,2.000000,4308.500000,20.000000
max,191779.000000,1500.000000,1263.000000,99.000000,73.000000,96.000000,1500.000000,1185.000000,89.444444,4002.000000,8305.000000,200.000000

In [6]:
health1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CONTROLN  1007 non-null   int64
 1   STATE     1007 non-null   object
 2   GENDER    967 non-null    object
 3   HV1       1005 non-null   object
 4   IC1       1007 non-null   int64
 5   IC4       1006 non-null   float64
 6   HVP1      1007 non-null   int64
 7   IC5       1007 non-null   object
 8   POBC1     1007 non-null   int64
 9   POBC2     1007 non-null   int64
 10  IC2       1006 non-null   float64
 11  IC3       1007 non-null   int64
 12  AVGGIFT   1007 non-null   float64
 13  TCODE     1007 non-null   int64
 14  DOB       1007 non-null   int64
 15  DOMAIN    1007 non-null   object
 16  TARGET_D  1007 non-null   float64
dtypes: float64(4), int64(8), object(5)
memory usage: 133.9+ KB

In [7]:
health1.head()

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0

In [8]:
health1.head(10)

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
5,100640,IL,M,764.00,457,501.0,1,16022,2,75,477.0,480,25.571429,1,6104,S2,30.0
6,18581,NC,female,775.00,318,419.0,5,13491,0,73,364.0,380,4.625000,0,4407,R2,12.0
7,119038,TX,M,890.00,519,560.0,0,17872,2,46,525.0,551,6.175000,1002,0,C1,7.0
8,173223,CA,F,NaN,184,250.0,0,8708,2,63,206.0,235,8.818182,0,1801,T2,10.0
9,157988,CA,F,AAA2294,593,617.0,61,17838,7,62,NaN,619,6.666667,28,0,S1,10.0

In [9]:
health1.tail(10)

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
997,57151,KY,F,875,311,326.0,0,7746,3,29,326.0,326,15.900000,0,3601,R1,26.0
998,71425,MI,M,713,300,364.0,0,16833,2,88,313.0,323,6.000000,1,4401,T2,7.0
999,127823,TX,F,258,64,74.0,0,4236,0,94,60.0,93,5.450000,2,2301,C3,6.0
1000,150739,CA,U,1951,556,625.0,44,17208,10,66,578.0,619,9.681818,2,5410,S1,12.0
1001,41384,FL,F,556,318,352.0,0,11779,16,22,358.0,320,9.428571,28,5107,S3,12.0
1002,114721,OK,NaN,1040,472,656.0,0,26962,2,56,609.0,579,11.666667,0,0,C2,15.0
1003,149152,CA,M,4507,842,962.0,95,54642,17,50,1004.0,893,20.000000,1,4401,S1,20.0
1004,959,IA,F,586,349,465.0,1,15304,1,77,413.0,404,7.300000,0,4404,C2,10.0
1005,179563,WA,male,842,420,494.0,2,12894,41,24,419.0,476,16.400000,1,5001,S2,23.0
1006,41243,FL,F,556,246,330.0,0,10272,2,56,277.0,292,9.818182,2,2201,S2,12.0

In [10]:
health1["GENDER"].unique()

array(['M', 'F', 'female', 'Male', nan, 'U', 'J', 'male', 'Female',
       'feamale'], dtype=object)

In [11]:
health1.columns

Index(['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5',
       'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB', 'DOMAIN',
       'TARGET_D'],
      dtype='object')

In [12]:
colh = []

for i in range(len(health1.columns)):
    colh.append(health1.columns[i].lower()) #usamos un for para llenar la nueva lista y ponerla en minusculas 

print(colh)

['controln', 'state', 'gender', 'hv1', 'ic1', 'ic4', 'hvp1', 'ic5', 'pobc1', 'pobc2', 'ic2', 'ic3', 'avggift', 'tcode', 'dob', 'domain', 'target_d']

In [13]:
health1.columns = colh 
health1.columns

Index(['controln', 'state', 'gender', 'hv1', 'ic1', 'ic4', 'hvp1', 'ic5',
       'pobc1', 'pobc2', 'ic2', 'ic3', 'avggift', 'tcode', 'dob', 'domain',
       'target_d'],
      dtype='object')

In [14]:
health1

,controln,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,114721,OK,NaN,1040,472,656.0,0,26962,2,56,609.0,579,11.666667,0,0,C2,15.0
1003,149152,CA,M,4507,842,962.0,95,54642,17,50,1004.0,893,20.000000,1,4401,S1,20.0
1004,959,IA,F,586,349,465.0,1,15304,1,77,413.0,404,7.300000,0,4404,C2,10.0
1005,179563,WA,male,842,420,494.0,2,12894,41,24,419.0,476,16.400000,1,5001,S2,23.0
1006,41243,FL,F,556,246,330.0,0,10272,2,56,277.0,292,9.818182,2,2201,S2,12.0

In [15]:
hlth1 = health1.drop(["controln", "pobc2"], axis = 1) #axis 1 refers to columns and 0 son filas
hlth1

,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,ic2,ic3,avggift,tcode,dob,domain,target_d
0,FL,M,AAA896,392,520.0,7,21975,6,430.0,466,28.000000,1,1901,C2,100.0
1,IL,M,537.00,365,473.0,0,19387,1,415.0,410,5.666667,0,0,T2,7.0
2,FL,F,725.00,301,436.0,3,18837,11,340.0,361,4.111111,0,2501,C2,5.0
3,NC,M,AAA1095,401,413.0,7,14014,1,407.0,399,27.277778,0,2208,T2,38.0
4,FL,F,995.00,252,348.0,0,17991,5,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,OK,NaN,1040,472,656.0,0,26962,2,609.0,579,11.666667,0,0,C2,15.0
1003,CA,M,4507,842,962.0,95,54642,17,1004.0,893,20.000000,1,4401,S1,20.0
1004,IA,F,586,349,465.0,1,15304,1,413.0,404,7.300000,0,4404,C2,10.0
1005,WA,male,842,420,494.0,2,12894,41,419.0,476,16.400000,1,5001,S2,23.0
1006,FL,F,556,246,330.0,0,10272,2,277.0,292,9.818182,2,2201,S2,12.0

In [16]:
health1

,controln,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,114721,OK,NaN,1040,472,656.0,0,26962,2,56,609.0,579,11.666667,0,0,C2,15.0
1003,149152,CA,M,4507,842,962.0,95,54642,17,50,1004.0,893,20.000000,1,4401,S1,20.0
1004,959,IA,F,586,349,465.0,1,15304,1,77,413.0,404,7.300000,0,4404,C2,10.0
1005,179563,WA,male,842,420,494.0,2,12894,41,24,419.0,476,16.400000,1,5001,S2,23.0
1006,41243,FL,F,556,246,330.0,0,10272,2,56,277.0,292,9.818182,2,2201,S2,12.0

In [17]:
hlth1.dtypes

state        object
gender       object
hv1          object
ic1           int64
ic4         float64
hvp1          int64
ic5          object
pobc1         int64
ic2         float64
ic3           int64
avggift     float64
tcode         int64
dob           int64
domain       object
target_d    float64
dtype: object

In [18]:
hlth1["hv1"].unique()

array(['AAA896', '537.00', '725.00', 'AAA1095', '995.00', '764.00',
       '775.00', '890.00', nan, 'AAA2294', '1569', '3515', '1026', '0',
       '376', '890', '1513', '948', '258', '1951', '556', '1040', '603',
       '526', '717', '1011', '1063', '291', '1538', '592', '871', '403',
       '715', '2346', '559', '596', '706', '878', '1275', '2362', '718',
       '2531', '2089', '765', '832', '1458', '1590', '613', '477', '424',
       '383', '688', '3500', '2143', '625', '1560', '716', '1247', '611',
       '1431', '1089', '435', '1409', '647', '415', '492', '1043', '3668',
       '3491', '192', '824', '428', '417', '399', '2377', '2016', '933',
       '619', '3303', '960', '1236', '473', '1055', '1509', '1953', '927',
       '2098', '5209', '476', '1515', '2158', '1110', '581', '563', '740',
       '516', '575', '2357', '645', '825', '531', '195', '423', '2725',
       '359', '1373', '1439', '889', '1993', '618', '3259', '151', '892',
       '612', '919', '697', '5059', '5667', '2750', '513', '1848', '1417',
       '347', '994', '3542', '797', '791', '957', '357', '896', '402',
       '3083', '460', '294', '1199', '1125', '974', '316', '642', '1263',
       '1809', '5294', '1161', '295', '3020', '431', '544', '323', '1104',
       '2135', '671', '510', '650', '487', '2925', '884', '753', '594',
       '627', '806', '3149', '5266', '1401', '593', '915', '456', '610',
       '1229', '2333', '707', '377', '1624', '348', '1878', '777', '1463',
       '375', '561', '502', '4206', '800', '1472', '609', '2430', '2559',
       '696', '762', '3556', '441', '673', '1173', '934', '1332', '451',
       '649', '590', '500', '368', '427', '274', '584', '553', '903',
       '2545', '1778', '1187', '1448', '712', '1432', '2598', '2855',
       '535', '703', '662', '2973', '2289', '1274', '840', '1024', '558',
       '1667', '843', '583', '1801', '863', '335', '1362', '700', '562',
       '1287', '5939', '648', '1862', '1843', '5190', '3912', '1537',
       '719', '1074', '298', '1434', '206', '991', '900', '1163', '3260',
       '430', '167', '1380', '3357', '1518', '1390', '1224', '182', '786',
       '308', '885', '2375', '657', '3010', '548', '819', '710', '3673',
       '365', '682', '901', '1676', '445', '588', '413', '522', '667',
       '303', '633', '391', '1179', '453', '3365', '1315', '668', '3200',
       '289', '1796', '978', '367', '937', '675', '232', '545', '458',
       '814', '452', '826', '860', '185', '576', '2431', '388', '1680',
       '1128', '916', '340', '711', '412', '893', '644', '440', '363',
       '1745', '672', '1419', '3781', '1938', '1495', '5980', '1412',
       '1869', '1015', '736', '803', '1818', '640', '698', '1449', '1557',
       '518', '1180', '511', '2869', '1514', '444', '654', '985', '280',
       '714', '1854', '2780', '1528', '605', '1165', '439', '681', '1865',
       '225', '2236', '1438', '3071', '1442', '660', '5813', '2250',
       '1115', '761', '2930', '3370', '966', '2024', '1286', '758',
       '2019', '687', '582', '690', '988', '1500', '5742', '1650', '406',
       '768', '485', '405', '459', '811', '509', '1030', '881', '2794',
       '3233', '931', '529', '1897', '641', '532', '876', '1175', '3921',
       '734', '468', '314', '550', '1979', '679', '475', '872', '1075',
       '580', '442', '325', '1276', '438', '386', '2433', '1464', '1052',
       '998', '821', '2300', '1852', '663', '2056', '2282', '2883', '637',
       '273', '1709', '2307', '691', '2479', '858', '351', '1672', '1069',
       '463', '470', '1248', '2800', '1654', '653', '1914', '5619', '426',
       '670', '400', '2206', '2238', '2811', '1775', '2549', '2356',
       '913', '284', '678', '1685', '1461', '538', '855', '578', '699',
       '5372', '839', '281', '2803', '601', '828', '2408', '951', '722',
       '1811', '534', '866', '471', '987', '1102', '5863', '198', '658',
       '512', '886', '1429', '543', '1896', '1171', '4143', '902', '356',
       '2469', '1107', '746', '967', '1250', '139', '1861', '3247',
       '1146', '854', '496', '726', '1028', '3063', '684', '3511', '1185',
       '747', '935', '616', '947', '572', '5014', '3663', '269', '226',
       '278', '604', '1219', '382', '1699', '394', '490', '949', '849',
       '1372', '358', '355', '713', '1208', '450', '1460', '478', '846',
       '694', '4183', '744', '875', '354', '1675', '421', '782', '574',
       '742', '1067', '4259', '566', '525', '1582', '1006', '345', '362',
       '2457', '2789', '385', '1136', '623', '5470', '4392', '1468',
       '764', '1749', '816', '905', '1027', '2833', '1088', '1304',
       '1859', '595', '3017', '396', '332', '1875', '1094', '1565', '246',
       '3325', '2438', '728', '3231', '3937', '1008', '848', '1158',
       '1139', '3741', '533', '1486', '3760', '1991', '404', '2094',
       '818', '3206', '5045', '4286', '621', '1493', '3373', '973', '505',
       '524', '1851', '923', '3952', '3570', '2442', '692', '1062',
       '1375', '2400', '1072', '326', '1277', '3197', '685', '5332',
       '695', '3514', '883', '5791', '877', '1403', '838', '1578', '944',
       '2817', '498', '395', '651', '366', '2280', '387', '3531', '738',
       '469', '318', '5132', '1181', '756', '464', '1245', '360', '432',
       '807', '307', '1270', '4167', '472', '862', '2156', '906', '481',
       '560', '567', '799', '433', '568', '1035', '1671', '262', '491',
       '301', '5879', '617', '602', '1191', '547', '659', '466', '389',
       '448', '542', '300', '499', '3608', '705', '815', '780', '787',
       '454', '3839', '813', '704', '5743', '483', '1903', '497', '2368',
       '374', '508', '676', '805', '732', '737', '600', '686', '5829',
       '5954', '674', '338', '835', '925', '1290', '938', '2741', '546',
       '894', '969', '493', '1034', '834', '429', '565', '1083', '1642',
       '1483', '940', '2012', '517', '1773', '946', '1149', '729', '3092',
       '2312', '552', '629', '1395', '1355', '2679', '638', '1246', '631',
       '5708', '955', '810', '1239', '2241', '2128', '1344', '361', '760',
       '1711', '904', '833', '607', '4112', '342', '313', '480', '809',
       '1609', '614', '1184', '1348', '683', '1167', '836', '1349',
       '4507', '586', '842', '1467', '514', '870', '2680', '624', '322',
       '868', '364'], dtype=object)

In [19]:
newnames = {"hv1":"medianhv", "ic5":"pcapinc"} #hacemos un diccionario con antiguos y nuevos nombres

In [20]:
hlth1.rename(columns = newnames, inplace = True ) #hacemos el canvio de nombres con el diccionario

In [21]:
hlth1

,state,gender,medianhv,ic1,ic4,hvp1,pcapinc,pobc1,ic2,ic3,avggift,tcode,dob,domain,target_d
0,FL,M,AAA896,392,520.0,7,21975,6,430.0,466,28.000000,1,1901,C2,100.0
1,IL,M,537.00,365,473.0,0,19387,1,415.0,410,5.666667,0,0,T2,7.0
2,FL,F,725.00,301,436.0,3,18837,11,340.0,361,4.111111,0,2501,C2,5.0
3,NC,M,AAA1095,401,413.0,7,14014,1,407.0,399,27.277778,0,2208,T2,38.0
4,FL,F,995.00,252,348.0,0,17991,5,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,OK,NaN,1040,472,656.0,0,26962,2,609.0,579,11.666667,0,0,C2,15.0
1003,CA,M,4507,842,962.0,95,54642,17,1004.0,893,20.000000,1,4401,S1,20.0
1004,IA,F,586,349,465.0,1,15304,1,413.0,404,7.300000,0,4404,C2,10.0
1005,WA,male,842,420,494.0,2,12894,41,419.0,476,16.400000,1,5001,S2,23.0
1006,FL,F,556,246,330.0,0,10272,2,277.0,292,9.818182,2,2201,S2,12.0

In [22]:
hlth1["medianhv"].astype("float", errors = "ignore") #intentamos convertir a float pero falla

0        AAA896
1        537.00
2        725.00
3       AAA1095
4        995.00
         ...
1002       1040
1003       4507
1004        586
1005        842
1006        556
Name: medianhv, Length: 1007, dtype: object

In [23]:
hlth1.dtypes

state        object
gender       object
medianhv     object
ic1           int64
ic4         float64
hvp1          int64
pcapinc      object
pobc1         int64
ic2         float64
ic3           int64
avggift     float64
tcode         int64
dob           int64
domain       object
target_d    float64
dtype: object

In [24]:
hlth1["medianhv"] = pd.to_numeric(hlth1["medianhv"], errors = "coerce") #estamos obligando a que sean numeros y no object

In [25]:
hlth1

,state,gender,medianhv,ic1,ic4,hvp1,pcapinc,pobc1,ic2,ic3,avggift,tcode,dob,domain,target_d
0,FL,M,NaN,392,520.0,7,21975,6,430.0,466,28.000000,1,1901,C2,100.0
1,IL,M,537.0,365,473.0,0,19387,1,415.0,410,5.666667,0,0,T2,7.0
2,FL,F,725.0,301,436.0,3,18837,11,340.0,361,4.111111,0,2501,C2,5.0
3,NC,M,NaN,401,413.0,7,14014,1,407.0,399,27.277778,0,2208,T2,38.0
4,FL,F,995.0,252,348.0,0,17991,5,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,OK,NaN,1040.0,472,656.0,0,26962,2,609.0,579,11.666667,0,0,C2,15.0
1003,CA,M,4507.0,842,962.0,95,54642,17,1004.0,893,20.000000,1,4401,S1,20.0
1004,IA,F,586.0,349,465.0,1,15304,1,413.0,404,7.300000,0,4404,C2,10.0
1005,WA,male,842.0,420,494.0,2,12894,41,419.0,476,16.400000,1,5001,S2,23.0
1006,FL,F,556.0,246,330.0,0,10272,2,277.0,292,9.818182,2,2201,S2,12.0

In [26]:
hlth1["pcapinc"] = pd.to_numeric(hlth1["pcapinc"], errors = "coerce")

In [27]:
hlth1

,state,gender,medianhv,ic1,ic4,hvp1,pcapinc,pobc1,ic2,ic3,avggift,tcode,dob,domain,target_d
0,FL,M,NaN,392,520.0,7,21975.0,6,430.0,466,28.000000,1,1901,C2,100.0
1,IL,M,537.0,365,473.0,0,19387.0,1,415.0,410,5.666667,0,0,T2,7.0
2,FL,F,725.0,301,436.0,3,18837.0,11,340.0,361,4.111111,0,2501,C2,5.0
3,NC,M,NaN,401,413.0,7,14014.0,1,407.0,399,27.277778,0,2208,T2,38.0
4,FL,F,995.0,252,348.0,0,17991.0,5,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,OK,NaN,1040.0,472,656.0,0,26962.0,2,609.0,579,11.666667,0,0,C2,15.0
1003,CA,M,4507.0,842,962.0,95,54642.0,17,1004.0,893,20.000000,1,4401,S1,20.0
1004,IA,F,586.0,349,465.0,1,15304.0,1,413.0,404,7.300000,0,4404,C2,10.0
1005,WA,male,842.0,420,494.0,2,12894.0,41,419.0,476,16.400000,1,5001,S2,23.0
1006,FL,F,556.0,246,330.0,0,10272.0,2,277.0,292,9.818182,2,2201,S2,12.0

In [28]:
hlth1.dtypes

state        object
gender       object
medianhv    float64
ic1           int64
ic4         float64
hvp1          int64
pcapinc     float64
pobc1         int64
ic2         float64
ic3           int64
avggift     float64
tcode         int64
dob           int64
domain       object
target_d    float64
dtype: object

In [29]:
hlth1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   state     1007 non-null   object
 1   gender    967 non-null    object
 2   medianhv  1002 non-null   float64
 3   ic1       1007 non-null   int64
 4   ic4       1006 non-null   float64
 5   hvp1      1007 non-null   int64
 6   pcapinc   1001 non-null   float64
 7   pobc1     1007 non-null   int64
 8   ic2       1006 non-null   float64
 9   ic3       1007 non-null   int64
 10  avggift   1007 non-null   float64
 11  tcode     1007 non-null   int64
 12  dob       1007 non-null   int64
 13  domain    1007 non-null   object
 14  target_d  1007 non-null   float64
dtypes: float64(6), int64(6), object(3)
memory usage: 118.1+ KB

In [30]:
hlth1["gender"] = hlth1["gender"].fillna("unknown") #sustituimos los nan por unkonw

In [31]:
hlth1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   state     1007 non-null   object
 1   gender    1007 non-null   object
 2   medianhv  1002 non-null   float64
 3   ic1       1007 non-null   int64
 4   ic4       1006 non-null   float64
 5   hvp1      1007 non-null   int64
 6   pcapinc   1001 non-null   float64
 7   pobc1     1007 non-null   int64
 8   ic2       1006 non-null   float64
 9   ic3       1007 non-null   int64
 10  avggift   1007 non-null   float64
 11  tcode     1007 non-null   int64
 12  dob       1007 non-null   int64
 13  domain    1007 non-null   object
 14  target_d  1007 non-null   float64
dtypes: float64(6), int64(6), object(3)
memory usage: 118.1+ KB

In [32]:
hlth1[hlth1["pcapinc"].isna() == True ] #aqui muestra las entradas de hlth1 que tienen NaN en "pcapinc"

,state,gender,medianhv,ic1,ic4,hvp1,pcapinc,pobc1,ic2,ic3,avggift,tcode,dob,domain,target_d
14,KS,F,376.0,263,316.0,0,NaN,1,303.0,287,10.550000,0,2405,T2,10.0
905,CO,F,552.0,194,315.0,1,NaN,9,258.0,262,20.000000,28,4401,C3,20.0
923,CO,F,638.0,222,286.0,0,NaN,13,307.0,230,7.214286,2,2401,C2,13.0
940,IL,F,760.0,393,510.0,2,NaN,2,451.0,441,6.909091,0,2101,T1,8.0
970,KS,F,481.0,322,352.0,0,NaN,0,318.0,359,5.857143,0,1501,S2,7.0
992,MO,F,322.0,190,302.0,0,NaN,0,240.0,239,13.416667,0,3702,R2,10.0

In [33]:
hlth1["gender"].value_counts()

F          478
M          383
unknown     40
male        28
U           23
female      16
feamale     11
Male        10
J            9
Female       9
Name: gender, dtype: int64

In [34]:
hlth1[hlth1["gender"].str.match("unknown")] #mostramos las columnas de hlth1 que tengan valor unknown en gender

,state,gender,medianhv,ic1,ic4,hvp1,pcapinc,pobc1,ic2,ic3,avggift,tcode,dob,domain,target_d
15,MI,unknown,890.0,463,523.0,1,9493.0,5,474.0,512,11.285714,1,5102,S1,15.0
21,OK,unknown,1040.0,472,656.0,0,26962.0,2,609.0,579,11.666667,0,0,C2,15.0
22,AR,unknown,603.0,208,341.0,2,12038.0,1,264.0,288,5.000000,0,0,0,5.0
54,CA,unknown,2143.0,280,373.0,63,12935.0,29,353.0,328,9.260870,0,1901,0,14.0
77,Cali,unknown,2016.0,431,497.0,51,17882.0,11,465.0,459,8.750000,0,0,S1,15.0
84,IL,unknown,1055.0,366,400.0,0,11289.0,8,462.0,379,20.800000,2,2801,S2,25.0
94,FL,unknown,581.0,349,373.0,0,9667.0,19,361.0,359,9.857143,0,2607,S2,15.0
130,FL,unknown,3542.0,642,843.0,76,53131.0,3,690.0,807,6.642857,2,1701,C1,10.0
151,CA,unknown,3020.0,756,823.0,95,26135.0,4,765.0,809,40.083333,0,4812,S1,75.0
186,IN,unknown,561.0,302,331.0,1,10873.0,0,301.0,323,19.666667,0,0,R2,26.0
195,FL,unknown,696.0,272,427.0,7,16474.0,7,357.0,358,3.300000,0,0,U3,3.0
217,CA,unknown,1187.0,328,428.0,11,13978.0,11,366.0,393,10.814815,1,0,0,10.0
239,TX,unknown,1362.0,575,718.0,8,21447.0,4,645.0,627,8.533333,0,0,S1,10.0
345,SC,unknown,1015.0,478,533.0,0,17763.0,14,500.0,516,7.000000,0,0,S1,10.0
353,NV,unknown,1557.0,290,361.0,17,13837.0,5,311.0,342,10.500000,0,0,S1,10.0
374,California,unknown,1865.0,256,362.0,44,16069.0,13,295.0,317,24.500000,0,0,U3,47.0
406,California,unknown,1650.0,219,319.0,18,12994.0,18,225.0,304,12.500000,0,0,C2,10.0
420,California,unknown,3233.0,684,781.0,95,26104.0,8,753.0,714,16.818182,1,4709,C1,25.0
445,CO,unknown,872.0,418,482.0,1,15287.0,5,424.0,458,10.833333,0,5102,S1,20.0
470,NV,unknown,2479.0,409,557.0,63,23023.0,7,456.0,500,11.600000,0,904,T1,15.0
489,California,unknown,2206.0,574,562.0,72,12225.0,39,567.0,583,8.428571,0,0,S1,8.0
495,California,unknown,2811.0,524,645.0,72,23861.0,8,577.0,599,11.083333,0,2207,C1,20.0
521,CO,unknown,2408.0,906,961.0,65,42897.0,5,952.0,924,15.000000,0,4701,T1,20.0
522,MT,unknown,445.0,192,275.0,0,9747.0,1,242.0,244,7.300000,0,0,R2,8.0
524,NC,unknown,722.0,327,371.0,0,13168.0,6,325.0,374,20.857143,28,5301,T2,40.0
594,AZ,unknown,1165.0,489,539.0,9,19234.0,6,514.0,519,11.500000,1,0,S1,23.0
624,AL,unknown,1175.0,586,662.0,8,22215.0,4,619.0,626,4.500000,980,0,T1,6.0
669,California,unknown,1185.0,338,445.0,3,14193.0,4,368.0,402,6.666667,0,0,C3,7.0
670,California,unknown,2438.0,540,687.0,84,30429.0,7,672.0,588,40.750000,0,0,S1,47.0
682,California,unknown,675.0,172,405.0,2,17897.0,12,379.0,242,12.500000,1,0,C3,15.0
720,OK,unknown,1062.0,486,584.0,4,17908.0,2,550.0,555,15.333333,0,5201,T1,20.0
740,OK,unknown,699.0,393,487.0,0,14925.0,2,477.0,430,16.666667,0,0,T2,25.0
786,SC,unknown,2156.0,331,401.0,56,24742.0,0,319.0,419,11.625000,2,2001,T1,10.0
819,GA,unknown,659.0,250,432.0,0,14914.0,7,338.0,334,6.916667,0,0,C2,10.0
869,OR,unknown,925.0,129,441.0,8,18634.0,8,363.0,215,15.464286,3,2001,U2,25.0
870,MI,unknown,483.0,341,430.0,0,14629.0,17,393.0,382,38.000000,0,0,U2,25.0
895,CA,unknown,2012.0,225,374.0,51,16165.0,10,316.0,294,15.666667,0,0,R1,20.0
964,IN,unknown,351.0,192,235.0,0,8757.0,0,214.0,212,20.000000,0,0,T3,25.0
986,GA,unknown,1149.0,420,509.0,14,17492.0,2,460.0,469,23.333333,0,0,C2,200.0
1002,OK,unknown,1040.0,472,656.0,0,26962.0,2,609.0,579,11.666667,0,0,C2,15.0

In [35]:
median1 = hlth1["medianhv"].median()

In [36]:
median1

786.0

In [37]:
hlth1["medianhv"] = hlth1["medianhv"].fillna(median1)

In [38]:
hlth1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   state     1007 non-null   object
 1   gender    1007 non-null   object
 2   medianhv  1007 non-null   float64
 3   ic1       1007 non-null   int64
 4   ic4       1006 non-null   float64
 5   hvp1      1007 non-null   int64
 6   pcapinc   1001 non-null   float64
 7   pobc1     1007 non-null   int64
 8   ic2       1006 non-null   float64
 9   ic3       1007 non-null   int64
 10  avggift   1007 non-null   float64
 11  tcode     1007 non-null   int64
 12  dob       1007 non-null   int64
 13  domain    1007 non-null   object
 14  target_d  1007 non-null   float64
dtypes: float64(6), int64(6), object(3)
memory usage: 118.1+ KB

In [39]:
median2 = hlth1["ic4"].median()
median2

406.0

In [40]:
hlth1["ic4"] = hlth1["ic4"].fillna(median2)
hlth1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   state     1007 non-null   object
 1   gender    1007 non-null   object
 2   medianhv  1007 non-null   float64
 3   ic1       1007 non-null   int64
 4   ic4       1007 non-null   float64
 5   hvp1      1007 non-null   int64
 6   pcapinc   1001 non-null   float64
 7   pobc1     1007 non-null   int64
 8   ic2       1006 non-null   float64
 9   ic3       1007 non-null   int64
 10  avggift   1007 non-null   float64
 11  tcode     1007 non-null   int64
 12  dob       1007 non-null   int64
 13  domain    1007 non-null   object
 14  target_d  1007 non-null   float64
dtypes: float64(6), int64(6), object(3)
memory usage: 118.1+ KB

In [41]:
median3 = hlth1["pcapinc"].median()
median3

14248.0

In [42]:
hlth1["pcapinc"] = hlth1["pcapinc"].fillna(median3)
hlth1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   state     1007 non-null   object
 1   gender    1007 non-null   object
 2   medianhv  1007 non-null   float64
 3   ic1       1007 non-null   int64
 4   ic4       1007 non-null   float64
 5   hvp1      1007 non-null   int64
 6   pcapinc   1007 non-null   float64
 7   pobc1     1007 non-null   int64
 8   ic2       1006 non-null   float64
 9   ic3       1007 non-null   int64
 10  avggift   1007 non-null   float64
 11  tcode     1007 non-null   int64
 12  dob       1007 non-null   int64
 13  domain    1007 non-null   object
 14  target_d  1007 non-null   float64
dtypes: float64(6), int64(6), object(3)
memory usage: 118.1+ KB

In [43]:
median4 = hlth1["ic2"].median()
median4

364.5

In [44]:
hlth1["ic2"] = hlth1["ic2"].fillna(median4)
hlth1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   state     1007 non-null   object
 1   gender    1007 non-null   object
 2   medianhv  1007 non-null   float64
 3   ic1       1007 non-null   int64
 4   ic4       1007 non-null   float64
 5   hvp1      1007 non-null   int64
 6   pcapinc   1007 non-null   float64
 7   pobc1     1007 non-null   int64
 8   ic2       1007 non-null   float64
 9   ic3       1007 non-null   int64
 10  avggift   1007 non-null   float64
 11  tcode     1007 non-null   int64
 12  dob       1007 non-null   int64
 13  domain    1007 non-null   object
 14  target_d  1007 non-null   float64
dtypes: float64(6), int64(6), object(3)
memory usage: 118.1+ KB

In [45]:
hlth1.query('gender == "F" & state == "CO" & pcapinc >= 15000') #mostrar las que cumplen condiciones

,state,gender,medianhv,ic1,ic4,hvp1,pcapinc,pobc1,ic2,ic3,avggift,tcode,dob,domain,target_d
152,CO,F,431.0,258,541.0,0,25828.0,3,342.0,386,8.571429,0,3001,U2,16.0
493,CO,F,593.0,256,399.0,0,37734.0,7,298.0,336,13.000000,0,3705,U4,20.0
581,CO,F,947.0,300,469.0,3,17986.0,2,360.0,342,85.000000,0,1602,C1,100.0

In [46]:
hlth1.iloc[[6, 35], 4:6] # muestra de las filas 6 i 35 las columnas de la 5 a la 6

      ic4  hvp1
6   419.0     5
35  531.0     5

In [47]:
hlth1.loc[[38, 90], "gender":"ic3"] #lo mismo que antes pero usando nombres

   gender  medianhv  ic1    ic4  hvp1  pcapinc  pobc1    ic2  ic3
38      F     878.0  310  588.0    30  22281.0      4  517.0  433
90      F     476.0  219  319.0     0  10966.0      1  280.0  272

In [48]:
hlth1.loc[[39, 95], ["gender","pcapinc"]] #mas de lo mismo pero solo 2 columnas

   gender  pcapinc
39      F  20971.0
95      M  10726.0

In [49]:
subhl = hlth1.iloc[[6, 35], 4:6]

In [50]:
hlth1[hlth1["gender"].str.match("unknown") | hlth1["gender"].str.match("J")] #prueba usando or para sacar gender unknone or J

,state,gender,medianhv,ic1,ic4,hvp1,pcapinc,pobc1,ic2,ic3,avggift,tcode,dob,domain,target_d
15,MI,unknown,890.0,463,523.0,1,9493.0,5,474.0,512,11.285714,1,5102,S1,15.0
21,OK,unknown,1040.0,472,656.0,0,26962.0,2,609.0,579,11.666667,0,0,C2,15.0
22,AR,unknown,603.0,208,341.0,2,12038.0,1,264.0,288,5.000000,0,0,0,5.0
44,AL,J,765.0,408,472.0,1,15150.0,1,430.0,441,33.500000,0,3901,0,35.0
54,CA,unknown,2143.0,280,373.0,63,12935.0,29,353.0,328,9.260870,0,1901,0,14.0
77,Cali,unknown,2016.0,431,497.0,51,17882.0,11,465.0,459,8.750000,0,0,S1,15.0
84,IL,unknown,1055.0,366,400.0,0,11289.0,8,462.0,379,20.800000,2,2801,S2,25.0
94,FL,unknown,581.0,349,373.0,0,9667.0,19,361.0,359,9.857143,0,2607,S2,15.0
108,NJ,J,1439.0,370,464.0,3,13353.0,15,414.0,417,6.125000,1002,0,S1,6.0
130,FL,unknown,3542.0,642,843.0,76,53131.0,3,690.0,807,6.642857,2,1701,C1,10.0
151,CA,unknown,3020.0,756,823.0,95,26135.0,4,765.0,809,40.083333,0,4812,S1,75.0
186,IN,unknown,561.0,302,331.0,1,10873.0,0,301.0,323,19.666667,0,0,R2,26.0
195,FL,unknown,696.0,272,427.0,7,16474.0,7,357.0,358,3.300000,0,0,U3,3.0
217,CA,unknown,1187.0,328,428.0,11,13978.0,11,366.0,393,10.814815,1,0,0,10.0
239,TX,unknown,1362.0,575,718.0,8,21447.0,4,645.0,627,8.533333,0,0,S1,10.0
292,WI,J,667.0,293,422.0,0,17527.0,5,385.0,334,15.000000,1002,1301,S2,15.0
345,SC,unknown,1015.0,478,533.0,0,17763.0,14,500.0,516,7.000000,0,0,S1,10.0
353,NV,unknown,1557.0,290,361.0,17,13837.0,5,311.0,342,10.500000,0,0,S1,10.0
363,MN,J,280.0,249,304.0,0,10337.0,0,282.0,277,3.600000,0,2308,S2,5.0
374,California,unknown,1865.0,256,362.0,44,16069.0,13,295.0,317,24.500000,0,0,U3,47.0
405,California,J,5742.0,1289,1119.0,99,64190.0,27,1369.0,1085,21.666667,4002,3803,S1,20.0
406,California,unknown,1650.0,219,319.0,18,12994.0,18,225.0,304,12.500000,0,0,C2,10.0
420,California,unknown,3233.0,684,781.0,95,26104.0,8,753.0,714,16.818182,1,4709,C1,25.0
445,CO,unknown,872.0,418,482.0,1,15287.0,5,424.0,458,10.833333,0,5102,S1,20.0
470,NV,unknown,2479.0,409,557.0,63,23023.0,7,456.0,500,11.600000,0,904,T1,15.0
474,California,J,1069.0,267,369.0,0,11849.0,11,320.0,318,8.222222,1002,0,C2,10.0
489,California,unknown,2206.0,574,562.0,72,12225.0,39,567.0,583,8.428571,0,0,S1,8.0
495,California,unknown,2811.0,524,645.0,72,23861.0,8,577.0,599,11.083333,0,2207,C1,20.0
521,CO,unknown,2408.0,906,961.0,65,42897.0,5,952.0,924,15.000000,0,4701,T1,20.0
522,MT,unknown,445.0,192,275.0,0,9747.0,1,242.0,244,7.300000,0,0,R2,8.0
524,NC,unknown,722.0,327,371.0,0,13168.0,6,325.0,374,20.857143,28,5301,T2,40.0
594,AZ,unknown,1165.0,489,539.0,9,19234.0,6,514.0,519,11.500000,1,0,S1,23.0
624,AL,unknown,1175.0,586,662.0,8,22215.0,4,619.0,626,4.500000,980,0,T1,6.0
637,NC,J,1136.0,505,579.0,6,19283.0,0,512.0,553,13.400000,0,5601,S1,17.0
669,California,unknown,1185.0,338,445.0,3,14193.0,4,368.0,402,6.666667,0,0,C3,7.0
670,California,unknown,2438.0,540,687.0,84,30429.0,7,672.0,588,40.750000,0,0,S1,47.0
682,California,unknown,675.0,172,405.0,2,17897.0,12,379.0,242,12.500000,1,0,C3,15.0
683,WI,J,533.0,324,348.0,0,12238.0,0,336.0,337,9.689655,1002,4612,C2,10.0
720,OK,unknown,1062.0,486,584.0,4,17908.0,2,550.0,555,15.333333,0,5201,T1,20.0
740,OK,unknown,699.0,393,487.0,0,14925.0,2,477.0,430,16.666667,0,0,T2,25.0
786,SC,unknown,2156.0,331,401.0,56,24742.0,0,319.0,419,11.625000,2,2001,T1,10.0
819,GA,unknown,659.0,250,432.0,0,14914.0,7,338.0,334,6.916667,0,0,C2,10.0
869,OR,unknown,925.0,129,441.0,8,18634.0,8,363.0,215,15.464286,3,2001,U2,25.0
870,MI,unknown,483.0,341,430.0,0,14629.0,17,393.0,382,38.000000,0,0,U2,25.0
895,CA,unknown,2012.0,225,374.0,51,16165.0,10,316.0,294,15.666667,0,0,R1,20.0
920,WA,J,429.0,266,343.0,1,12534.0,1,302.0,310,5.500000,980,1008,R2,3.0
964,IN,unknown,351.0,192,235.0,0,8757.0,0,214.0,212,20.000000,0,0,T3,25.0
986,GA,unknown,1149.0,420,509.0,14,17492.0,2,460.0,469,23.333333,0,0,C2,200.0
1002,OK,unknown,1040.0,472,656.0,0,26962.0,2,609.0,579,11.666667,0,0,C2,15.0

In [51]:
healthfem = hlth1.query('gender == "F"')
healthfem = healthfem.iloc[[3,4], 2:6]

In [52]:
healthfem

    medianhv  ic1    ic4  hvp1
9      786.0  593  617.0    61
10    1569.0  673  781.0    22

In [53]:
hlth1["gender"].unique()

array(['M', 'F', 'female', 'Male', 'unknown', 'U', 'J', 'male', 'Female',
       'feamale'], dtype=object)

print(range(len(hlth1["gender"]))) #this is how i almost came up to resolve the reclasification of "gender"

genderl1 = []

for i in range(len(hlth1["gender"])):
    #print(hlth1["gender"][i])
    if (hlth1["gender"][i] == "M" or hlth1["gender"][i] == "Male" or hlth1["gender"][i] == "male"):
        #print("male")
        genderl1.append("male")
    elif (hlth1["gender"][i] == "F" or hlth1["gender"][i] == "Female" or hlth1["gender"][i] == "female" or hlth1["gender"][i] == "feamale"):
        #print("female")
        genderl1.append("female")
    else:
        #print("unknown")
        genderl1.append("unknown")

genderl1

genderr=[]

for i in range(len(health1['gender'])):
    if i == 'F' or 'female' or 'Female':
        genderr.append('female')
    elif i == 'M' or'Male' or 'male':
        genderr.append('male')
    else:
        genderr.append('Unknown')

hlth1["gender"] = genderr

hlth1["gender"].unique()

hlth1["gender"] = genderl1

hlth1["gender"]

In [55]:
print(range(len(hlth1["gender"]))) #this is a clena code to do the same

genderl1 = []

for i in range(len(hlth1["gender"])):
    #print(hlth1["gender"][i])
    if hlth1["gender"][i] in ["male", "Male", "M"] :
        #print("male")
        genderl1.append("male")
    elif hlth1["gender"][i] in ["female", "Female", "F", "feamale" ] :
        #print("female")
        genderl1.append("female")
    else:
        #print("unknown")
        genderl1.append("unknown")

range(0, 1007)

In [56]:
genderl1

['male',
 'male',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'female',
 'unknown',
 'female',
 'female',
 'female',
 'unknown',
 'female',
 'unknown',
 'unknown',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'male',
 'female',
 'female',
 'female',
 'unknown',
 'male',
 'female',
 'unknown',
 'female',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'unknown',
 'female',
 'male',
 'female',
 'female',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'unknown',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'unknown',
 'female',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'male',
 'male',
 'unknown',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'unknown',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'male',
 'unknown',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'female',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'female',
 'male',
 'female',
 'female',
 'unknown',
 'female',
 'female',
 'male',
 'male',
 'male',
 'unknown',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'female',
 'male',
 'female',
 'unknown',
 'female',
 'female',
 'female',
 'female',
 'male',
 'unknown',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'unknown',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'female',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'female',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'unknown',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'female',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'male',
 'unknown',
 'female',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'female',
 'female',
 'unknown',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'female',
 'female',
 'female',
 'female',
 'unknown',
 'female',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'male',
 'female',
 'female',
 'male',
 'female',
 'female',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'unknown',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'unknown',
 'female',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'unknown',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'unknown',
 'male',
 'female',
 'male',
 'female',
 'female',
 'female',
 'unknown',
 'female',
 'female',
 'female',
 'unknown',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'female',
 'male',
 'female',
 'unknown',
 'female',
 'female',
 'female',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'unknown',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'unknown',
 'unknown',
 'female',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'unknown',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'female',
 'unknown',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'unknown',
 'female',
 'female',
 'female',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'male',
 'female',
 'female',
 'male',
 'male',
 'unknown',
 'male',
 'male',
 'female',
 'unknown',
 'female',
 'male',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'unknown',
 'female',
 'male',
 'female',
 'female',
 'male',
 'unknown',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'unknown',
 'unknown',
 'female',
 'unknown',
 'male',
 'female',
 'female',
 'male',
 'female',
 'male',
 'male',
 'female',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'female',
 'female',
 'unknown',
 'female',
 'male',
 'female',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'male',
 'female',
 'unknown',
 'female',
 'female',
 'female',
 'unknown',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'unknown',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'female',
 'female',
 'female',
 'unknown',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'female',
 'unknown',
 'unknown',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'female',
 'male',
 'unknown',
 'unknown',
 'male',
 'male',
 'female',
 'male',
 'female',
 'female',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'female',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'female',
 'female',
 'unknown',
 'male',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'unknown',
 'male',
 'female',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male',
 'unknown',
 'female',
 'male',
 'male',
 'male',
 'female',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'male',
 'male',
 'female',
 'male',
 'female',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'unknown',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'male',
 'female',
 'male',
 'female',
 'male',
 'female',
 'unknown',
 'male',
 'female',
 'female',
 'male',
 'female',
 'female',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'unknown',
 'male',
 'male',
 'female',
 'female',
 'unknown',
 'female',
 'male',
 'male',
 'female',
 'male',
 'female',
 'unknown',
 'female',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'unknown',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'female',
 'female',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'unknown',
 'male',
 'female',
 'male',
 'female',
 'female',
 'female',
 'unknown',
 'unknown',
 'unknown',
 'female',
 'female',
 'female',
 'unknown',
 'male',
 'female',
 'male',
 'female',
 'male',
 'female',
 'female',
 'unknown',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'female',
 'male',
 'male',
 'female',
 'unknown',
 'female',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'female',
 'male',
 'female',
 'unknown',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'female',
 'male',
 'female',
 'female',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'male',
 'unknown',
 'male',
 'female',
 'male',
 'male',
 'unknown',
 'female',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'unknown',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'female',
 ...]

In [58]:
hlth1["gender"] = genderl1

In [59]:
hlth1["gender"].unique()

array(['male', 'female', 'unknown'], dtype=object)